extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col.md-5
                img(src="img/nosotros.jpg", alt="sobre nosotros", class="img-fluid")
            .col.md-7 
                h1=pagina 
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia felis nulla, sit amet ornare tortor ullamcorper non. Pellentesque feugiat massa vitae augue lobortis, rutrum convallis erat lacinia. Sed rutrum, sapien ut vehicula tempus, mauris lorem fringilla metus, vulputate fermentum justo orci at tortor. Donec cursus, orci in laoreet laoreet, tellus velit semper velit, ac aliquet odio neque a ligula. Morbi molestie, erat at ullamcorper sagittis, felis est gravida turpis, ac molestie lorem felis a diam. Donec consectetur gravida urna, sed fermentum nunc placerat ac. Nam vulputate arcu est, id euismod magna aliquam vitae. Donec vehicula dolor quis dignissim hendrerit. Nullam fringilla, nisl nec porttitor egestas, quam eros varius tortor, a lobortis nunc magna eget velit. Etiam posuere dolor pellentesque quam consectetur, eu dapibus ex finibus. Nam nec tempor sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce vel elit rhoncus, facilisis quam ac, placerat odio. Morbi condimentum commodo metus, ac dignissim ipsum vehicula euismod. Donec rhoncus orci non lacus pellentesque lobortis.

                p a massa nulla. Aenean pretium, lectus eget aliquet sagittis, neque nulla congue sapien, sed vestibulum tortor lacus vitae nibh. Nullam nunc erat, tristique efficitur sem eu, dignissim maximus lacus. Suspendisse eget diam dignissim, varius justo sit amet, pellentesque nunc. Vivamus in eleifend ipsum. Nullam mollis semper vehicula. Maecenas tincidunt sed purus vitae porttitor. Praesent eget augue pretium, euismod lectus quis, condimentum ex. Sed ornare, nibh at dapibus pharetra, lacus enim iaculis eros, sit amet finibus ligula lectus sed nibh. Aliquam erat volutpat. Fusce id scelerisque elit.

                p consectetur feugiat malesuada. Fusce commodo ac ligula ac vehicula. Curabitur varius lorem eu nisl malesuada congue. Nulla nec consectetur augue, scelerisque ullamcorper risus. Nunc rutrum ex at tortor imperdiet, sit amet commodo eros convallis. Mauris ultricies porta tellus et gravida. Vestibulum et est viverra, iaculis odio eu, efficitur nunc. Vestibulum non mi ut ipsum hendrerit aliquam quis sit amet nibh. Phasellus condimentum justo ut nunc commodo, at mattis nisl aliquam. Ut commodo efficitur nisi.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")    
                    h2.mb-4 Seguridad 
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")    
                    h2.mb-4 Mejores Destinos 
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")    
                    h2.mb-4 Mejores precios 
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
